SECRET_KEY='django-insecure-0l@^u^h%o3dz^xz#r2*#8-x6qqt(pj)k2+o)(1i&tlurwq97ma'
DEBUG=True
DLL="C:/Drive-1/ESSI/inv_track/apps/hid/HIDAeroWrap64.dll"
# Database_Name=mod_vms
Database_Name=moc_vms
Database_User=postgres
Database_Host=localhost
# Database_Host='192.168.1.170'
Database_Password='2024'
Database_Port=5432
# SECRET_KEY = '1111'
ALGORITHM = 'HS256'
ACCESS_TOKEN_EXPIRY = 3600000
Database_Port = 5432
CELERY_BACKEND_URL = 'redis://127.0.0.1:6379/1'
# CELERY_BACKEND_URL = 'django-db'
CELERY_BROKER_URL = 'redis://127.0.0.1:6379'
Gate_01_Exit = "COM102"
Gate_06_Exit = "COM104"

